<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><img src="/styles/images/close-modal.png" /></button>
    <h3>Confirm</h3>
</div>
<div class="modal-body modal-cougarw">
    <p class="confirm">You will now be taking ownership of this model and no-one will be able to update or edit it until you click "Check-In" from Cougar.</p>
</div>
<div class="modal-footer">
    <a href="{{ cougarConfig.API_HOST }}services/models/{{ property.CurrentModel.Uid }}/View?authtoken={{ user.AccessToken }}" class="button" ng-click="ok(property.CurrentModel)">Read Only</a>
    <a href="{{ cougarConfig.API_HOST }}services/models/{{ property.CurrentModel.Uid }}/Edit?authtoken={{ user.AccessToken }}" class="button button-orange" ng-click="ok()" ng-if="!property.CurrentModel.isLocked && !property.CurrentModel.CheckedOutBy">Check Out</a>
</div>