<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><img src="/styles/images/close-modal.png" /></button>
    <h3>Upload File</h3>
</div>
<div class="modal-body">
    <form class="new-portfolio">
        <div class="drag-and-drop"></div>

        <label>Name</label>
        <input type="text" ng-model="file.Name" />

        <label>Use For</label>
        <select ng-model="file.For">
            <option>Budgeting</option>
            <option>Valuation</option>
        </select>

        <label class="checkbox" ng-show="file.Name.indexOf('.sf') > -1"><input type="checkbox" ng-checked="file.Name.indexOf('.sf') > -1"> Create Cougar Model from Argus File</label>

        <label>Comment</label>
        <textarea ng-model="file.Comment"></textarea>
    </form>
</div>
<div class="modal-footer">
    <button class="button button-orange" ng-click="ok()">Create</button>
</div>